*{
    margin: 0;
    padding: 0;
}

:root{
    /* ----------- FONTES ---------------------------------*/
    --game-font: 'Press Start 2P', cursive;
    --quicksand: 'Quicksand', sans-serif;
    --footer: 'Monda', sans-serif;
    --handwriting: 'Caveat', cursive;


    /* ----------- CORES ---------------------------------*/
    --nav-bar-color: rgb(32, 32, 32);
    --back-color: rgb(39, 39, 39);
}

body {
    background-color: var(--back-color);
}

#home{
    color: white;
    width: 10rem;
    height: 100vh;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    background-color: black;
    width: 100%;
    height: 9rem;
}


#logo img{
    padding: 1rem;
}

#logo h1{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

#logo p{
    color: white;
    text-align: center;
    font-family: var(--game-font);
}

#navigation{
    font-family: var(--quicksand);
    background-color: var(--nav-bar-color);
    width: 11rem;
    height: 100vh;
}

p{
    text-align: center;
    color: white;
    font-family: var(--quicksand);
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
}

footer{
    font-weight: normal;
    width: 11rem;
    font-size: small;
}

#initial-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    width: 40rem;
    font-size: 6rem;
    font-family: var(--quicksand);
    font-weight: lighter;
    color: white;
}

#jspython{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.codigo{
    color: rgba(179, 179, 179, 0.192);
    font-family: var(--handwriting);
    text-align: left;
}

.paragrafos{
    width: 20rem;
    text-align: justify;
}

.title-about-me{
    font-family: var(--quicksand);
    font-size: 2rem;
    font-weight: bold;
    color: white;
}