*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --game-font: 'Press Start 2P', cursive;
    --nav-bar-color: rgb(32, 32, 32);
}

#nav{
    width: 6rem;
    height: 50rem;
    background-color: var(--nav-bar-color);
}

#logo{
    background-color: black;
    color: white;
    height: 8rem;
}

#logo img{
    padding: 1rem;
}

#logo h1{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

#logo p{
    padding: 0.5rem;
    font-family: var(--game-font);
}

#icons {
    display: flex;
    justify-content: space-between;
}