*{
    margin: 0;
    padding: 0;
}

#nav{
    width: 6rem;
    height: 50rem;
    background-color: rgb(32, 32, 32);
}

#logo {
    background-color: black;
    color: white;
    height: 7rem;
}

#logo h1 p{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

#icons {
    display: flex;
    justify-content: space-between;
}