*{
    margin: 0;
    padding: 0;
}

:root{
    --game-font: 'Press Start 2P', cursive;
    --nav-bar-color: rgb(32, 32, 32);
    --back-color: rgb(39, 39, 39);
}

body {
    background-color: var(--back-color);
}

#nav{
    width: 6rem;
    height: 100vh;
    background-color: var(--nav-bar-color);
}

#logo{
    padding: 0.5rem;
    background-color: black;
    width: 100%;
    height: 9rem;
}

#logo img{
    padding: 1rem;
}

#logo h1{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

#logo p{
    color: white;
    text-align: center;
    font-family: var(--game-font);
}

#icons {
    display: flex;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;

}